/* Claude AI was used to assist in bug fixing and to guide in card styling. */

/* Body / overall background styling */
body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #886c96, #180222);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 5px;
}

p {
    font-size: 1.25rem;
}

hr {
    border-color: #ffd970;
    border-style: solid;
}

/* Card styling */
.card {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    width: 50%;
    border: 10px solid #ffd970;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff4d4;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
}

.instructions {
    font-size: 1.5rem;
}

/* Button styling */
button {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px 60px;
    border: 5px solid #6e0000;
    border-radius: 10px;
    background-color: #d34343;
    cursor: pointer;
}
button:hover {
    background-color: #ff5252;
}
button:active {
    background-color: #ff7575;
}

button.secondary {
    font-size: 1rem;
    padding: 5px 30px;
    border: 2.5px solid #6e0000;
    margin-top: 20px;
}

label {
    font-size: 1.25rem;
}

/* Input styling */
input {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 125px;
    text-align: right;
    margin-bottom: 30px;
    border: 3px solid #3d0000;
    border-radius: 10px;
}